extends ../layout/layout


block content
	.main.smain
		.contact-main
			.heading
				if(language == "English" || language == undefined)
					p.titleheader.no Contact Us
				else
					p.titleheader.no Need Translation
			.consay
				if(language == "English" || language == undefined)
					p There are several ways to get in touch with us. Please feel free 
					p to contact us with any questions or needs you may have.
				else
					p Need
					p Translation
			.minihead
				if(language == "English" || language == undefined)
					p.header.vertical-align Contact Us Online
				else
					p.header.vertical-align Need Translation
			.coninfo
				if(language == "English" || language == undefined)
					p Email:
				else
					p Need Translation:
			.minihead
				if(language == "English" || language == undefined)
					p.header.vertical-align Call or Mail Us
				else
					p.header.vertical-align Need Translation
			.coninfo
				if(language == "English" || language == undefined)
					p Phone: (410) 744-5711
					p Fax: 
					p Monday - Friday: 9:00am - 5:00pm
					p &nbsp
					p Mail: 1501 N Rolling Road
					p &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Catonsville, MD 21228
					p &nbsp
				else
					p Need Translation: (410) 744-5711
					p Need Translation: 
					p Need Translation - Need Translation: 9:00am - 5:00pm
					p &nbsp
					p Need Translation: 1501 N Rolling Road
					p &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Catonsville, MD 21228
					p &nbsp