extends ../layout/layout


block content
	.main.smain
		.heading
			p.titleheader About Us
		.info
			.us
				.uscontain.church
					.ushead
						p.header Our Church
					.usinfo
						p.
							Summary of our church and goals
				#churchpic
					img(width="443" height="250" src='/images/sanctuary.jpg')
			.us
				.uspic
						img(width="224" height="250" src='/images/about/default_profile.jpg')
				.uscontain
					.ushead
						p.header Pastor Name
						p.miniheader Korean Pastor
					.usinfo
						p.lefttext.
							Biography of pastor