doctype html
html(ng-app)
	head
		title= title
		link(rel='stylesheet' type='text/css' href="http://fonts.googleapis.com/css?family=Kreon")
		link(rel='stylesheet' type='text/css' href="http://fonts.googleapis.com/css?family=Russo+One")
		link(rel='stylesheet' type='text/css' href="http://fonts.googleapis.com/css?family=Alfa+Slab+One")
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/responsive-calendar.css')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js')
		//script(src='/javascripts/jquery.min.js')
		//script(src='/bootstrap/js/bootstrap.js')
		//script(src='/javascripts/handlebars.js')
	body
		ng-view
		input(ng-model="name")
		h1.
			Hello {{ name }}