<div class="videogular-container audio">
  <videogular vg-player-ready="sermonController.audioPlayer.onPlayerReady($API)" vg-change-source="sermonController.audioPlayer.onChangeSource($source)" vg-theme="sermonController.audioPlayer.config.theme" >
    <vg-media vg-src="sermonController.audioPlayer.config.sources"
          vg-tracks="sermonController.audioPlayer.config.tracks">
    </vg-media>

    <vg-controls>
      <vg-play-pause-button></vg-play-pause-button>
      <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
      <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      </vg-scrub-bar>
      <vg-time-display>{{ totalTime | date:'mm:ss' }}</vg-time-display>
      <vg-volume>
        <vg-mute-button></vg-mute-button>
        <vg-volume-bar></vg-volume-bar>
      </vg-volume>
    </vg-controls>

  </videogular>
</div>
