<div>
	<div ng-include src="'/ng/sermons/sermons.html'"  ng-controller="SermonsController"></div>

	<form id="editSermonForm" name="editSermonForm" enctype="multipart/form-data" ng-submit="editSermonForm.$valid && editSermon()" novalidate>
		<div class="input-group">
			<div class="row">
				<div class="form-group col-md-5" ng-class="{ 'has-error': editSermonForm.title.$invalid && (editSermonForm.title.$touched || editSermonForm.$submitted) }">
					<label for="#title">English Title</label> 
					<input type="text" class="form-control" name="title" id="title" ng-model="title" required />
					<div ng-show="editSermonForm.$submitted || editSermonForm.title.$touched">
						<p class="help-block" ng-show="editSermonForm.title.$error.required">Title is required</p>
					</div>
				</div>
				<div class="col-md-2"></div>
				<div class="form-group col-md-5" ng-class="{ 'has-error': editSermonForm.title_kr.$invalid && (editSermonForm.title_kr.$touched || editSermonForm.$submitted) }">
					<label for="#title">Korean Title</label> 
					<input type="text" class="form-control" name="title_kr" id="title_kr" ng-model="title_kr" required />
					<div ng-show="editSermonForm.$submitted || editSermonForm.title_kr.$touched">
						<p class="help-block" ng-show="editSermonForm.title.$error.required">Korean title is required</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-5" ng-class="{ 'has-error': editSermonForm.pastor.$invalid && (editSermonForm.pastor.$touched || editSermonForm.$submitted) }">
					<label for="#pastor">Pastor</label> 
					<input type="text" class="form-control" name="pastor" id="pastor" ng-model="pastor" required />
					<div ng-show="editSermonForm.$submitted || editSermonForm.pastor.$touched">
						<p class="help-block" ng-show="editSermonForm.title.$error.required">Title is required</p>
					</div>
				</div>
				<div class="col-md-2"></div>
				<div class="form-group col-md-5" >
					<label for="#date">Date</label> 
					<md-datepicker ng-model="date" md-placeholder="Enter date" required></md-datepicker>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-5">
					<label for="#description">English Description</label>
					<textarea type="text" class="form-control" name="description" id="description" ng-model="description"></textarea>
				</div>
				<div class="col-md-2"></div>
				<div class="form-group col-md-5">
					<label for="#description">Korean Description</label>
					<textarea type="text" class="form-control" name="description_kr" id="description_kr" ng-model="description_kr"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-5" ng-class="{ 'has-error': editSermonForm.file.$invalid && (editSermonForm.$submitted) }">
					<label for="file">Sermon Audio</label> 
					<input type="file" valid-file name="file" id="file" accept="audio/mp3" file-model="audioFile" ng-model="audioFile" >
					<div>
						<p class="help-block">(Optional: Do not set if audio does not need to change)</p>
					</div>
				</div>

			</div>

			<br/><br/>

			<input type="submit" value="Update Sermon"/>
		</div>
	</form>
</div>
