<div class="sermons">
		<div ui-view="sermonForm"></div>

    <table class="sermon-playlist smart-table table table-striped" st-pipe="sermonController.sermonTable.callServer" st-table="sermons">
    	<thead>
	    	<tr>
	    		<th st-sort="title" >Title</th>
	    		<th st-sort="pastor" >Pastor</th>
	    		<th st-sort="description" >Description</th>
	    		<th st-sort="date" >Date</th>
	    		<th class="search-sermons" colspan="3">
	    			<input st-search placeholder="Search..." class="input-sm form-control" type="search" />
	    		</th>
	    	</tr>
    	</thead>
    	<tbody>
				<tr>
					<td colspan=7>
						<a ui-sref="sermons.admin.add">+ add sermon</a>
					</td>
				</tr>
	    	<tr ng-repeat="sermon in sermonController.sermonTable.sermons">
	    		<td>{{ sermon.title }}</td>
	    		<td>{{ sermon.pastor }}</td>
	    		<td>{{ sermon.description }}</td>
	    		<td>{{ sermon.date | date:'MM/dd/yyyy' }}</td>
	    		<td>
	    			<div class="sermon-indicator">
	    				<div class="sermon-play-button" ng-show="!sermonController.audioPlayer.checkAudioId(sermon._id)">
	    					<a ng-click="sermonController.audioPlayer.setAudio(sermon._id, sermon.audioFile)">play</a>
	    				</div>
	    				<div class="sermon-playing" ng-show="sermonController.audioPlayer.checkAudioId(sermon._id) && sermon.audioPlayer.isPlaying()">
	    					<img src="/images/playing.gif" />
	    				</div>
	    				<div ng-show="sermonController.audioPlayer.checkAudioId(sermon._id) && sermonController.audioPlayer.isPaused()" class="sermon-paused"></div>
	    			</div>
	    		</td>
	    		<td>
	    			<a ng-href="#/admin/sermons/edit/{{sermon.id}}">edit</a>
	    		</td>
	    		<td>
	    			<a ng-click="sermonController.deleteSermonWrapper(sermon)" confirm="Are you sure you want to delete?">delete</a>
	    		</td>
	    	</tr>
    	</tbody>
    		<tfoot>
				<tr>
					<td class="text-center" st-pagination="" st-items-by-page="5" colspan="5">
					</td>
				</tr>
			</tfoot>
    </table>
</div>
