doctype html
html
	head
		title= title
		link(rel='stylesheet' type='text/css' href="http://fonts.googleapis.com/css?family=Kreon")
		link(rel='stylesheet' type='text/css' href="http://fonts.googleapis.com/css?family=Russo+One")
		link(rel='stylesheet' type='text/css' href="http://fonts.googleapis.com/css?family=Alfa+Slab+One")
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/responsive-calendar.css')
		link(rel='stylesheet', href='/stylesheets/admin.css')
		link(rel='stylesheet', href='/javascripts/jquery-ui-1.11.4/jquery-ui.min.css')
		link(rel='stylesheet', href='/stylesheets/audio-player/audio_player.css')
		script(src='/javascripts/jquery.min.js')
		script(src='/javascripts/jquery-ui-1.11.4/jquery-ui.min.js')
		script(src='/bootstrap/js/bootstrap.js')
		script(src='/javascripts/handlebars.js')
		script(src='/javascripts/jeditable.js')
		script(src='/javascripts/moment.js')
		script(src='/javascripts/moment-duration.js')
	body
		#skynet
			.inskynet
				.innerskynet
					.skypic
						img(width="370" height="180" src='/images/map/mapcomp.png')
					.skyinfo
						.skyheader
							if(language == "English" || language == undefined)
								p.header.white New Life Presbyterian Church
							else
								p.header.white Need Translation
						.skyaddress
							p.gray.miniheader 1501 N Rolling Road
							p.gray.miniheader Catonsville, MD 21228
							p &nbsp
							a.btn.btn-default(href='https://www.google.com/maps/dir//1501+N+Rolling+Rd,+Catonsville,+MD+21228/@39.302904,-76.75208,17z/data=!4m13!1m4!3m3!1s0x89c81eb4beae8eef:0x908559b5423df082!2s1501+N+Rolling+Rd,+Catonsville,+MD+21228!3b1!4m7!1m0!1m5!1m1!1s0x89c81eb4beae8eef:0x908559b5423df082!2m2!1d-76.75208!2d39.302904' target="_blank").blue Directions
						.skytime
							if(language == "English" || language == undefined)
								p.gray.miniheader Sunday
								p.gray.miniheader Bible Study: 11:15am - 12:15pm
								p.gray.miniheader Service: 1:15pm - 2:15pm
							else
								p.gray.miniheader Need Translation
								p.gray.miniheader Need Translation: 11:15am - 12:15pm
								p.gray.miniheader Need Translation: 1:15pm - 2:15pm
							
		.content-wrapper
			#header
					#inheader
						#logo
							#logoimage
								a(href='/'): img(width="60px" height="70px" src='/images/crossSimple.png')
							#logowords
								#logotitle.vertical-align
									if(language == "English" || language == undefined)
										p.logotop New Life
										p.logobottom Presbyterian Church
									else
										p.logotop Need
										p.logobottom Translation
						#headnav
							#navigate.vertical-align
								.btn-group
									.headerfont.white(data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
										span.glyphicon.glyphicon-menu-hamburger
										//if(language == "English" || language == undefined)
										//	|Navigate
										//else
										//	|Need Translation
									ul.dropdown-menu.navigate-menu
										if(language == "English" || language == undefined)
											li
												a(href='/sermons').white Sermons
											li
												a(href='/events').white Calendar
											li
												a(href='/gallery').white Gallery
											li
												a(href='/newsletter').white Newsletter
											li
												a(href='/contact').white Contact Us
											li
												a(href='/info').white About Us
										else
											li
												a(href='/sermons').white Need Translation
											li
												a(href='/events').white Need Translation
											li
												a(href='/gallery').white Need Translation
											li
												a(href='/newsletter').white Need Translation
											li
												a(href='/contact').white Need Translation
											li
												a(href='/info').white Need Translation
							#timelocation.vertical-align
								if isTimeLocation
									p.headerfont.orangefade
										span.glyphicon.glyphicon-map-marker(aria-label='true').orangefade
										if(language == "English" || language == undefined)
											|  Time & Location
										else
											|  Need Translation
								else
									a#poop(onclick="$('#skynet').slideToggle();$('#poop').toggleClass('white');$('#poop').toggleClass('navy');").headerfont.white
										span.glyphicon.glyphicon-map-marker(aria-label='true')
										if(language == "English" || language == undefined)
											|  Time & Location
										else
											|  Need Translation
							#languagePicker.vertical-align
								p.langSelect-desc Language: 
								#selectEnglish.langSelect(class=language === "English" ? "current" : undefined)
									img.en-flag(src="/images/usFlag.png")
								#selectKorean.langSelect(class=language === "Korean" ? "current" : undefined)
									img.kr-flag(src="/images/koreanFlag.png")
					#drop
						#dropheader
						#dropmain
							#dropphoto
							
			block content
			footer
				#footer
					#infooter
						if(language == "English" || language == undefined)
							#ftop
								.footer.vertical-align
									a(href='/info').white About Us
								.footer.vertical-align.footer-style
									a(href='/contact').white Contact Us
								.footer.vertical-align.footer-style
									a(href='/events').white Calendar
								.footer.vertical-align.footer-style
									a(href='/gallery').white Gallery
							#fbot
								.footer.vertical-align
									a(href='/directions').white Directions
								.footer.vertical-align.footer-style
									a(href='/newsletter').white Newsletter
								.footer.vertical-align.footer-style
									a(href='/sermons').white Sermons
								.footer.vertical-align.footer-style
									a(href='/admin').white Admin
							#fbar
								#fbarleft.russo
									p 1501 N Rolling Road | Catonsville, MD 21228 | (410) 744-5711
								#fbarright.russo
									p New Life Presbytarian Church
						else
							#ftop
								.footer.vertical-align
									a(href='/info').white Need Translation
								.footer.vertical-align.footer-style
									a(href='/contact').white Need Translation
								.footer.vertical-align.footer-style
									a(href='/events').white Need Translation
								.footer.vertical-align.footer-style
									a(href='/gallery').white Need Translation
							#fbot
								.footer.vertical-align
									a(href='/directions').white Need Translation
								.footer.vertical-align.footer-style
									a(href='/newsletter').white Need Translation
								.footer.vertical-align.footer-style
									a(href='/sermons').white Need Translation
								.footer.vertical-align.footer-style
									a(href='/admin').white Need Translation
							#fbar
								#fbarleft.russo
									p 1501 N Rolling Road | Catonsville, MD 21228 | (410) 744-5711
								#fbarright.russo
									p Need Translation

		script.
			$(document).ready(function(){
				$("#selectEnglish").on('click', function(){
					$.get("/setLang?lang=English", function(){
						location.reload();
					});
				});
				
				$("#selectKorean").on('click', function(){
					$.get("/setLang?lang=Korean", function(){
						location.reload();
					});
				});
			});
