script(src="/javascripts/audio_player/audio-player.js")
script(id='audioPlayerTemplate',type='text/x-handlebars-template').
	<div class="audio-player-container" id="audio-player-container">
		<audio id="hidden-audio-player" controls="controls">
			<source id="audio-file" src="{{ audioFile }}" type="audio/mp3"></source>
			Your browser does not support the audio format
		</audio>
		<div class="slider-container">
			<div class="time-slider" id="time-slider"></div>
		</div>
		<div class="controls-container">
			<div id="play_pause" class="play_pause">
				<img id="play-audio" class="play-audio" src="/images/playbutton.png" />
				<img id="pause-audio" class="pause-audio" src="/images/pausebutton.png" />
			</div>
			<div class="timer-container">
				<div class="current-time-container"><span class="current-time" id="current-time">00:00</span></div>
				<div class="time-divider"><span>/<span></div>
				<div class="total-time-container"><span class="total-time" id="total-time">00:00</span></div>
			</div>
		</div>
		<div class="left-mask"><img src="/images/mask.png"/></div>
		<div class="right-mask"><img src="/images/mask.png"/></div>
	</div>